<div class="jumbotron">
  <h1 class="display-4">Doctor Report Panel</h1>
  <p>Patients ID: 444</p>
  <br>
</div>

<div class="row">
  <div class="col-6">
    <google-chart #chart [data]="chartData"></google-chart>
  </div>
  <div class="col-6">
    <google-chart #chart2 [data]="chartData2"></google-chart>
  </div>

</div>
<div class="row">
  <div class="col-6">
    <google-chart #chart3 [data]="chartData3"></google-chart>
  </div>
  <div class="col-6">
      <input type="text" class="form-control" placeholder="GSR" [(ngModel)]="gsr" name="gsr">
      <input type="text" class="form-control" placeholder="HRM" [(ngModel)]="hrm" name="hrm">
      <input type="text" class="form-control" placeholder="SPo2" [(ngModel)]="sp" name="sp">
  </div>
</div>
