<div class="jumbotron">
  <h1 class="display-4">Doctor Panel</h1>
  <p>Welcome Doctor Name</p>
  <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/DoctorInfo">Doctor Details</a>
</div>

<button type="button" class="btn btn-primary m-2" (click)="patientsList = true">Patients List</button>
<button type="button" class="btn btn-primary m-2" (click)="DoctorComm = true">Doctor Communication</button>

<div class="container m-3">
  Graph View
</div>

<div class="container" *ngIf="patientsList">
  <h3>Registered Patients List</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Patients Name</th>
        <th scope="col">Checkup Type</th>
        <th scope="col">Checkup Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>A</td>
        <td>TT</td>
        <td>2/12/2019</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>A</td>
        <td>TT</td>
        <td>2/12/2019</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>A</td>
        <td>TT</td>
        <td>2/12/2019</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="DoctorComm">
  <h3>Doctor Communication</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Doctor Name</th>
        <th scope="col">Hospital Name</th>
        <th scope="col">Place</th>
        <th scope="col">Status</th>
        <th scope="col">Call</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>A</td>
        <td>B</td>
        <td>TT</td>
        <td>Online</td>
        <td><button type="button" class="btn btn-primary m-2" >Call</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>A</td>
        <td>B</td>
        <td>TT</td>
        <td>Offline</td>
        <td><button type="button" class="btn btn-primary m-2" disabled>Call</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>A</td>
        <td>B</td>
        <td>TT</td>
        <td>Online</td>
        <td><button type="button" class="btn btn-primary m-2" >Call</button></td>
      </tr>
    </tbody>
  </table>
</div>
